.main{
    background-color: #095742;
}


.block-container{
    border: rgba(220, 250, 24, 0.5) solid;
    margin: 100px;
    border-radius:100px;
    box-shadow: rgba(220, 250, 24, 0.22) 0px 14px 28px, rgba(220, 250, 24, 0.22) 0px 10px 10px;
}

.st-ae{
    width:100%;
}

.titulo{
    background-color: rgba(220, 250, 24);
    width: 100%;
    padding: 10px;
    display: flex;
    align-content: space-between;
    color: black;
    border: #095742 solid;
    border-radius: 10px;
    box-shadow: rgba(220, 250, 24, 0.22) 0px 1px 2px, rgba(220, 250, 24, 0.22) 0px 1px 1px;
}

.letra{
    color: white;
}

.st-emotion-cache-zt5igj{
    width:100%;
}

.lateral{
    background-color: rgba(220, 250, 24);
    align-self: flex-end;
    width: 100%;
    margin: 30px 0px;
    padding: 2px;
    color: black;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #095742;
    box-shadow: rgba(220, 250, 24, 0.22) 0px 1px 2px, rgba(220, 250, 24, 0.22) 0px 1px 1px;
}

.center{
    text-align: center;
    margin:0 50px;
}

.mensagem {
    background-color: rgba(33,37,41);
    box-shadow: rgba(220, 250, 24, 0.5)  4px 4px;
    color: white;
    align-self: flex-end;
    width: 100%;
    padding: 30px;
    margin:10px;
    border-radius: 100px;
}

img{
    align-items: center;
    align-self: center;
}

.response {
    background-color: rgba(220, 250, 24);
    box-shadow: rgba(33,37,41, 0.5) -4px 4px;
    color: black;
    text-align: justify;
    width: 100%;
    padding: 40px;
    margin:20px;
    border-radius: 100px;
  }

  .flex{
    display: flex;
    width:100%;
  }
  .tamanho{
    font-size: 20px;
  }